<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moviepad</title>
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <h1>Moviepad</h1>
    <h3>Now showing</h3>
    <a href="/addmovie">Add movie</a>
  </body>
</html>