<% layout('layouts/boilerplate') %>
<div class="container">
  <h3>Login</h3>
  <hr>
  <form action="/login" method="post">
  <div class="mb-3 row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input id="email" type="email" class="form-control movie-input1" />
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" />
    </div>
  </div>
  <button class="btn btn-success">Submit</button>
</form>
</div>
