<% layout('layouts/boilerplate') %>
<div class="container">
    <h1>Movie Info</h1>
  <p>Movie Name : <%= movie.name %> </p>
  <a class="btn btn-primary" href="/booknow/<%= movie._id %> " role="button">Book Now</a>
</div>
